<ul class="nav nav-list">
  <li class="nav-header"></li>
  <li id="sub_menu1"><a href="javascript:void(0)" title="ユーザを管理します">ユーザ管理</a></li>
  <li id="sub_menu2"><a href="javascript:void(0)" title="設備を管理します">設備管理</a></li>
  <li id="sub_menu3"><a href="javascript:void(0)" title="ユーザグループを管理します">ユーザグループ管理</a></li>
  <li id="sub_menu4"><a href="javascript:void(0)" title="設備グループを管理します">設備グループ管理</a></li>
</ul>      

<script type="text/javascript">
<!--
$(function(){
	$("#sub_menu1").click(function(){
		moveUrl("/management/project");
	});
	$("#sub_menu2").click(function(){
		moveUrl("/management/member");
	});
});
//-->
</script>

<input type="hidden" id="selected_main_menu" value="main_menu4" />
