<ul class="nav nav-list">
  <li class="nav-header"></li>
  <li id="sub_menu1"><a href="javascript:void(0)" title="本システムにログインするユーザを管理します">ユーザ</a></li>
  <li id="sub_menu2"><a href="javascript:void(0)" title="設備情報を管理します">設備</a></li>
  <li id="sub_menu3"><a href="javascript:void(0)" title="ユーザを部・課等の単位でグルーピングします">ユーザグループ</a></li>
  <li id="sub_menu4"><a href="javascript:void(0)" title="設備をカテゴリ毎にグルーピングします">設備グループ</a></li>
  <li id="sub_menu5"><a href="javascript:void(0)" title="祝日を管理します">祝日</a></li>
</ul>

<script type="text/javascript">
<!--
$(function(){
	$("#sub_menu1").click(function(){
		moveUrl("/admin/userInfos");
	});
	$("#sub_menu2").click(function(){
		moveUrl("/admin/facilities");
	});
	$("#sub_menu3").click(function(){
		moveUrl("/admin/userGroups");
	});
	$("#sub_menu4").click(function(){
		moveUrl("/admin/facilityGroups");
	});
	$("#sub_menu5").click(function(){
		moveUrl("/admin/nationalHolidays");
	});
});
//-->
</script>

<input type="hidden" id="selected_main_menu" value="main_menu2" />
