<%= javascript_include_tag "schedule/scheduleDialog"  %>

<div id="scheduleEditDialog" title="スケジュール" class="dialog-widget" style="display:none;">
<div class="dialog-container" style="height:400px;">
<table class="edit_table">
	<tbody>
		<tr>
			<th width="100px">いつ</th>
			<td>
				<div id="schedule_type">
					<ul>
						<li><a href="#normal_schedule_area" id="normal_schedule">通常</a></li>
						<li><a href="#repeat_schedule_area" id="repeat_schedule">繰り返し</a></li>
					</ul>
					<div id="normal_schedule_area">
						<fieldset>
							<div class="control-group">
								<label class="control-label">開始日時<span class="important-msg">(*)</span></label>
								<div class="controls">
									<input type="text" id="normal_startDate" size="20" class="date required-input" />　
									<input type="text" size="6" id="normal_startTime" class="input-small" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">終了日時<span class="important-msg">(*)</span></label>
								<div class="controls">
									<input type="text" id="normal_endDate" size="20" class="date required-input" />　
									<input type="text" size="6" id="normal_endTime" class="input-small" />
								</div>
							</div>
						</fieldset>
					</div>
					<div id="repeat_schedule_area">
						<fieldset>
							<div class="control-group">
								<label class="control-label">繰り返し<span class="important-msg">(*)</span></label>
								<div class="well controls">
									<label for="repeat_conditions_1" class="radio"><input type="radio" name="repeat_conditions" value="1" id="repeat_conditions_1" />毎日</label><br />
									<label for="repeat_conditions_2" class="radio"><input type="radio" name="repeat_conditions" value="2" id="repeat_conditions_2" />毎日(土日を除く)</label><br />
									<label for="repeat_conditions_3" class="radio"><input type="radio" name="repeat_conditions" value="3" id="repeat_conditions_3" />毎週</label>　<select id="repeatWeek"></select><br />
									<label for="repeat_conditions_4" class="radio"><input type="radio" name="repeat_conditions" value="4" id="repeat_conditions_4" />毎月</label>　<select id="repeatDay"></select><br />
								</div>
							</div>

							<div class="control-group">
								<label class="control-label">いつから<span class="important-msg">(*)</span></label>
								<div class="controls">
									<input type="text" id="repeat_startDate" size="20" class="date required-input" />　
								</div>
							</div>

							<div class="control-group">
								<label class="control-label">いつまで<span class="important-msg">(*)</span></label>
								<div class="controls form-inline">
									<input type="text" id="repeat_endDate" size="20" class="date required-input" />　
									<label for="repeatEndless" class="checkbox"><input type="checkbox" id="repeatEndless" name="repeatEndless">無期限</label><br />
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="repeat_startTime">時間指定</label>
								<div class="controls">
									<input type="text" size="6" class="input-small" id="repeat_startTime" />　～　<input type="text" size="6" class="input-small" id="repeat_endTime" />
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<th>件名<span class="important-msg">(*)</span></th>
			<td>
				<input type="text" size="40" id="title" class="required-input input-xxlarge" />
			</td>
		</tr>
		<tr>
			<th>メモ</th>
			<td>
				<textarea cols="45" rows="4" id="memo" class="memo input-xxlarge"></textarea>
			</td>
		</tr>
		<tr>
			<th>閲覧範囲</th>
			<td>
				<label for="ds_closedFlg1" class="radio"><input id="ds_closedFlg1" type="radio" name="closedFlg" value="0">公開する</label>
				<label for="ds_closedFlg2" class="radio"><input id="ds_closedFlg2" type="radio" name="closedFlg" value="1">非公開(参加者と登録者のみ閲覧できます)</label>
			</td>
		</tr>
		<tr>
			<th>参加者</th>
			<td>
				<div>
					<div class="sort_action_area" style="margin-right: 10px;">
						<div class="sort_up_area">
							<input type="button" class="btn sort_up_button" id="user_up" value="↑" />
						</div>
						<div>
							<input type="button" class="btn" id="user_down" value="↓" />
						</div>
					</div>
					<div class="sort_to">
						<div>
							<label for="user_to">参加メンバー</label>
							<select id="user_to" size="10" multiple class="required-input">
							</select>
						</div>
						<div align="right" class="resource_remove_area">
							<input id="user_remove" class="btn" type="button" value="ー" alt=" 参加メンバーから削除" title="参加メンバーから削除" />
						</div>
					</div>
					<div class="sort_to">
						<input id="user_add" class="btn resource_add_area" 
							type="button" value="＜" alt=" 参加メンバーに追加" title="参加メンバーに追加" />
					</div>
					<div>
						<label for="userGroupList">ユーザグループ</label>
						<select id="userGroupList">
						</select>
						<label for="user_from">ユーザ</label>
						<select id="user_from" size="6" multiple>
						</select>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<th>設備</th>
			<td>

				<div>
					<div class="sort_action_area" style="margin-right: 10px;">
						<div class="sort_up_area">
							<input type="button" class="btn sort_up_button" id="facilities_up" value="↑" />
						</div>
						<div>
							<input type="button" class="btn" id="facilities_down" value="↓" />
						</div>
					</div>
					<div class="sort_to">
						<div>
							<label for="facilities_to">使用設備</label>
							<select id="facilities_to" size="10" multiple class="required-input">
							</select>
						</div>
						<div align="right" class="resource_remove_area">
							<input id="facilities_remove" class="btn" type="button" value="ー" alt="使用設備から削除" title="使用設備から削除" />
						</div>
					</div>
					<div class="sort_to">
						<input id="facilities_add" class="btn resource_add_area" 
							type="button" value="＜" alt=" 使用設備に追加" title="使用設備に追加" />
					</div>
					<div>
						<label for="facilitiesGroupList">設備グループ</label>
						<select id="facilitiesGroupList">
						</select>
						<label for="facilities_from">設備</label>
						<select id="facilities_from" size="6" multiple>
						</select>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<div class="edit_ctrl">
	<input type="button" class="btn btn-primary" id="scheduleExecute" value="変更する" />
	<input type="button" class="btn" id="scheduleEditDialog-cancel" value="キャンセル" />
</div>

</div>
<input type="hidden" id="scheduleVersionNo" />
</div>


<div id="scheduleDetailDialog" title="スケジュール詳細" class="dialog-widget" style="display:none;">
<div class="dialog-container" style="height:400px;">
<table class="edit_table">
	<tbody>
		<tr>
			<th width="100px">いつ</th>
			<td id="viewDate"></td>
		</tr>
		<tr>
			<th>件名</th>
			<td id="viewTitle"></td>
		</tr>
		<tr>
			<th>メモ</th>
			<td id="viewMemo"></td>
		</tr>
		<tr>
			<th>参加者</th>
			<td id="userConnList"></td>
		</tr>
		<tr>
			<th>設備</th>
			<td id="facilitiesConnList"></td>
		</tr>
		<tr>
			<th>登録者</th>
			<td id="entryUserName" class="small"></td>
		</tr>
		<tr>
			<th>最終更新者</th>
			<td id="updateUserName" class="small"></td>
		</tr>
	</tbody>
</table>

<div class="edit_ctrl">
	<input type="button" id="moveScheduleEdit" class="btn" value="変更画面へ" />
	<input type="button" id="addFollow" class="btn" value="フォロー追加" />
	<input type="button" id="scheduleDelete" class="btn btn-danger" value="削除する" />
	<input type="button" class="btn" id="scheduleDetailDialog-cancel" value="キャンセル" />
	<input type="hidden" id="scheduleDetailVersionNo" />
</div>

<div id="followViewArea"></div>

</div>
</div>


<div id="userDetailDialog" title="ユーザ詳細" class="dialog-widget" style="display:none;">
<div class="dialog-container" style="height:300px;">
<table class="edit_table">
	<tbody>
		<tr>
			<th width="100px">ユーザ名</th>
			<td id="userName"></td>
		</tr>
		<tr>
			<th>ふりがな</th>
			<td id="readingCharacter"></td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td id="tel"></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td id="mail"></td>
		</tr>
		<tr>
			<th>所属グループ</th>
			<td id="belongingUserGroup"></td>
		</tr>
		<tr>
			<th>メモ</th>
			<td id="userMemo"></td>
		</tr>
	</tbody>
</table>
<div class="edit_ctrl">
	<input type="button" class="btn" id="userDetailDialog-cancel" value="キャンセル" />
</div>

</div>
</div>

<div id="facilitiesDetailDialog" title="設備詳細" class="dialog-widget" style="display:none;">
<div class="dialog-container" style="height:200px;">
<table class="edit_table">
	<tbody>
		<tr>
			<th width="100px">設備名</th>
			<td id="facilitiesName"></td>
		</tr>
		<tr>
			<th>所属グループ</th>
			<td id="belongingFacilitiesGroup"></td>
		</tr>
		<tr>
			<th>メモ</th>
			<td id="facilitiesMemo"></td>
		</tr>
	</tbody>
</table>
<div class="edit_ctrl">
	<input type="button" class="btn" id="facilitiesDetailDialog-cancel" value="キャンセル" />
</div>
</div>
</div>

<div id="userGroupDetailDialog" title="ユーザグループ詳細" class="dialog-widget" style="display:none;">
<div class="dialog-container" style="height:130px;">
<table class="edit_table">
	<tbody>
		<tr>
			<th width="100px">グループ名</th>
			<td id="userGroupName"></td>
		</tr>
		<tr>
			<th>メモ</th>
			<td id="userGroupMemo"></td>
		</tr>
	</tbody>
</table>
<div class="edit_ctrl">
	<input type="button" class="btn" id="userGroupDetailDialog-cancel" value="キャンセル" />
</div>
</div>
</div>

<div id="followEditDialog" title="フォロー登録" class="dialog-widget" style="display:none;">
<div class="dialog-container">
<table class="edit_table">
	<tbody>
		<tr>
			<th width="100px">フォロー<span class="important-msg">(*)</span></th>
			<td>
				<textarea cols="45" rows="4" id="follow_memo" class="input-xxlarge required-input"></textarea>
			</td>
		</tr>
	</tbody>
</table>
<div class="edit_ctrl">
	<input type="button" class="btn btn-primary" id="followExecute" value="登録する" />
	<input type="button" class="btn" id="followEditDialog-cancel" value="キャンセル" />
</div>
</div>
</div>

<div id="followCommentEditDialog" title="コメント登録" class="dialog-widget" style="display:none;">
<div class="dialog-container">
<table class="edit_table">
	<tbody>
		<tr>
			<th width="100px">コメント<span class="important-msg">(*)</span></th>
			<td>
				<textarea cols="45" rows="4" id="follow_comment_memo" class="input-xxlarge required-input"></textarea>
			</td>
		</tr>
	</tbody>
</table>
<div class="edit_ctrl">
	<input type="button" class="btn btn-primary" id="followCommentExecute" value="登録する" />
	<input type="button" class="btn" id="followCommentEditDialog-cancel" value="キャンセル" />
	<input type="hidden" id="follow_comment_target_id" />
</div>
</div>
</div>


<input type="hidden" id="scheduleId" />
