<%= javascript_include_tag "admin/facilities"  %>

<% content_for :extend_sub_menu do %>
	<%= render :file => 'admin/_admin_sub_menu.html.erb' %>
<% end %>

<div class="widget">
<form class="form-horizontal">

	<h2 class="title">設備検索</h2>
	<table class="search_table">
	<tbody>
	<tr>
		<th>名称</th>
		<td><input type="text" id="search_name" /></td>
	</tr>
	</tbody>
	</table>
	<div class="search_ctrl">
		<input type="button" class="btn btn-primary" id="searchFacillitiesBtn" value="検索" />
		<input type="button" class="btn" value="新規登録" id="addFacillitiesBtn" />
		<input type="button" class="btn" value="表示順変更" id="sortFacillitiesBtn" />
	</div>
	
	<div id="result_area" class="result">
	</div>

	<input type="hidden" id="selected_sub_menu" value="sub_menu2" />

</form>
</div>

<!-- 設備登録・更新ダイアログ -->
<div id="facillitiesDialog" class="dialog-widget">
<div class="dialog-container form-horizontal" >
<fieldset>
	<div class="control-group">
		<label class="control-label" for="resource_name">設備名</label>
		<div class="controls">
			<input type="text" class="input-xlarge required-input" id="resource_name">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="resource_memo">メモ</label>
		<div class="controls">
			<textarea class="input-xlarge" cols="30" rows="10" id="resource_memo"></textarea>
		</div>
	</div>
	<div class="edit_ctrl">
		<input type="button" class="btn btn-primary" id="facillitiesDialog-add" value="登録する" />
		<input type="button" class="btn" id="facillitiesDialog-cancel" value="キャンセル" />
		<input type="hidden" id="resource_lock_version" />
		<input type="hidden" id="resource_id" />
	</div>
</fieldset>
</div>
</div>

<!-- 設備ソートダイアログ -->
<div id="facillitiesSortDialog" title="表示順変更" class="dialog-widget">
<div class="dialog-container form-horizontal" >
<fieldset>
	<div class="control-group">
		<label class="control-label" for="facillities_to">設備</label>
		<div class="controls">
			<div class="sort_to">
				<select id="facillities_to" size="10" multiple="multiple"></select>
			</div>
			<div class="sort_action_area">
				<div  style="margin-bottom: 50px;">
					<input type="button" class="btn sort_up_button" id="sort_up" value="↑" />
				</div>
				<div>
					<input type="button" class="btn" id="sort_down" value="↓" />
				</div>
			</div>
		</div>
	</div>

	<div class="edit_ctrl">
		<input type="button" class="btn btn-primary" id="facillitiesSortDialog-execute" value="変更する" />
		<input type="button" class="btn" id="facillitiesSortDialog-cancel" value="キャンセル" />
	</div>
</fieldset>
</div>
</div>
