
<div class="widget">
<form class="form-horizontal">

	<h2 class="title">設備検索</h2>
	<table class="search_table">
	<tbody>
	<tr>
		<th>名称</th>
		<td><input type="text" id="search_name" /></td>
	</tr>
	</tbody>
	</table>
	<div class="search_ctrl">
		<input type="button" class="btn btn-primary" id="searchFacillitiesBtn" value="検索" />
		<input type="button" class="btn" value="新規登録" id="addFacillitiesBtn" />
	</div>
	
	<div id="result_area" class="result">
	</div>

</form>
</div>
