<!DOCTYPE html>
<html lang="jp">
<head>
<%= render :file => 'layouts/_include_css_js.html.erb' %>

<style>
h1{font-size:125%;text-align:center;line-height:2;}
label{display:block;font-size:75%;line-height:2;font-weight:bolder;margin-bottom:5px;}
label input{font-size:115%;padding:3px;width:392px;}
#container{width:400px;border:1px solid #CCC;background:#FFF;padding:20px;border-radius:5px;margin:20px auto;}
div.login{text-align:center;padding-top:10px;}
.system{margin-top:20px;padding:5px;font-size:86%;border:1px solid #CCC;background:#EEE;color:#666;}
</style>

<script type="text/javascript">
<!--
$(function(){
	$("#jsNg").hide();
	$("#jsOk").show();
	$("#loginId").focus();
	$("#login_button").click(function(){
		doSubmit();
		return false;
	});
	
	$("#loginId").keypress(function(ev){
		if(checkEnterKey(ev)) {
			doSubmit();
		}
	});

	$("#password").keypress(function(ev){
		if(checkEnterKey(ev)) {
			doSubmit();
		}
	});
	
	$("#facebook_login_button").click(function(){
		moveUrl("/auth/facebook");
	});
	
});

function checkEnterKey(ev) {
	if ((ev.which && ev.which === 13) || (ev.keyCode && ev.keyCode === 13)) {
		return true;
	} else {
		return false;
	}	
}

function doSubmit() {
	var params = createLoginParams();
	
	if(validate(params) == false) {
		return;
	}
	
	setAjaxDefault();
	var task;
	task = $.ajax({
		type: "POST",
		url: "/login/auth",
		data: params
	});
	
	//後処理の登録
	//
	task.pipe(
		function(data) {
			//共通エラーチェック
			if(errorCheck(data) == false) {
				if(data.status_code == -1 ) {
					//認証エラーの場合、処理終了
					return;
				}
			}
			var referer = $("#referer").val();
			if(referer != null && referer != '') {
				moveUrl(referer);
			} else {
				moveUrl("/schedule");
			}
		}
	);
}

function createLoginParams() {
	var params = {};
	params["login_id"] = $("#loginId").val();
	params["password"] = $("#password").val();
	return params;
}

function validate(params) {
	var v = new Validate();
	v.addRules({value:params["login_id"],option:'required',error_args:"ログインID"});
	v.addRules({value:params["password"],option:'required',error_args:"パスワード"});
	return v.execute();
}


//-->
</script>


</head>

<body>

<div id="container">

	<h1>Group Scheduler [Yoita]</h1>
	<span class="important-msg"><%= flash[:notice] %></span>
	<form>
		<label>ログインID
		<input type="text" class="required-input" id="loginId" />
		</label>
		<label>パスワード
		<input type="password" class="required-input" id="password" />
		</label>
		<input type="button" value="ログイン" id="login_button" class="btn btn-primary"/>
		<%= hidden_field_tag :referer, flash[:referer] %>
	</form>
	
	<hr />
	<div>
		<input type="button" value="Login with Facebook" id="facebook_login_button" title="Facebookのユーザ情報でログインします。" class="btn btn-primary"/>
	</div>

	<hr />
	<div class="system">
		<p class="note" id="jsNg" title="JavaScriptを有効にしてください">
		本システムを使用するには、JavaScriptを有効にする必要があります。<br />
		このブラウザでは、JavaScriptが無効になっているか、<br />
		サポートされていないようです。<br />
		ブラウザのオプションを変更しJavascriptを有効にし、<a href="/">もう一度お試しください。</a><br />
		</p>
	
		<p class="note" id="jsOk" style="display:none;">
		本システムを使用するには、ユーザ認証が必要です。<br />
		ログインIDとパスワードを入力してログインボタンをクリックするか、Facebookのユーザ情報を使用してログインしてください。<br />
		</p>
	</div>

</div>

</body>
</html>
