<!-- Navbar
    ================================================== -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <a class="brand" href="/">Yoita</a>
      <div class="nav-collapse" style="float: right;">
        <ul class="nav">
          <li class="" id="main_menu1">
            <a href="javascript:void(0)" id="scheduler_menu" title="あなたやグループのスケジュールを確認します">スケジューラ</a>
          </li>
          <li class="divider-vertical"></li>
          <li style="display:none" id="main_menu2">
            <a style="display:none" href="javascript:void(0)" id="admin_menu" title="マスタに関する設定を行います">マスタ管理</a>
          </li>

          <li class="divider-vertical"></li>
          <li class="">
          	<!--
            <a href="javascript:void(0)" id="personal_settings" title="個人の情報を設定します">個人設定</a>
           -->
          </li>
          <li>
            <a href="javascript:void(0)" id="logout_link" title="ログアウトしてシステムを終了します">ログアウト</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
<!--

var adminFlg = true;

$(function(){

	var selectedMainMenu = $("#selected_main_menu").val();
	$("#" + selectedMainMenu).addClass("active");

	var selectedSubMenu = $("#selected_sub_menu").val();
	$("#" + selectedSubMenu).addClass("active");

	if(adminFlg) {
		$("#main_menu2").show();
		$("#admin_menu").show();

		$("#admin_menu").click(function(){
			moveUrl("/admin/users");
		});

	}
	
	$("#logout_link").click(function(){
		moveUrl("/logout");
	});
});
//-->
</script>
