<!DOCTYPE html>
<html lang="jp">
<head>
<%= render :file => 'layouts/_include_css_js.html.erb' %>
</head>

<body>
<!-- メインメニュー -->
<%= render :file => 'layouts/_header.html.erb' %>
<!-- Contents -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!--サイドコンテンツ-->
      <div class="well sidebar-nav">
		<%= yield :extend_sub_menu %>
      </div>
    </div>
    <div class="span9">
      <!--メインコンテンツ-->
      <div class="well">
		<%= yield %>
      </div>
    </div>
  </div>
</div>

</body>
</html>
